<section class="pricing">
  <h2 class="pricing__main">pricing</h2>
  <div class="plans">
    <div>
      <h3 class="plans__main">plan normal</h3>
      <p class="plans__main-sub">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam temporibus voluptatum culpa earum aspernatur recusandae
        reprehenderit sunt soluta dolore ex enim quas, esse omnis hic ipsam quam vero facilis illum.
      </p>
    </div>
    <div>
      <h3 class="plans__main">plan premium</h3>
      <p class="plans__main-sub">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam temporibus voluptatum culpa earum aspernatur recusandae
        reprehenderit sunt soluta dolore ex enim quas, esse omnis hic ipsam quam vero facilis illum.
      </p>
    </div>
  </div>
</section>
